@use '../../assets/styles/mixins.scss' as *;
@import '../../assets/styles/variables';

.info-container {
   @include width-height(100%, 90%);
   @include flexbox(column, space-between, center, 0);
   max-width: 74.875rem;
   margin: auto;
   padding: 2.5rem;

   @include mq (medium) {
      display: block;
   }

   @include mq (small) {
      // display: block;
      padding: 0 0 2.94rem;
   }
}

.info-hidden {
   @include mq (small) {
      display: none;
   }
}

.main-section {
   @include mq (medium) {
      margin-bottom: 1.75rem;
   }
}


//grid

.main-section {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: auto auto;
   grid-gap: 1.87rem;
   grid-template-areas: 
      "pic main"
      "pic nav";

   @include mq (medium) {
      grid-template-areas: 
         "pic pic"
         "main nav";

      grid-gap: 0.69rem;  
      grid-row-gap: 5rem; 
   }

   @include mq (small) {
      // grid-template-rows: 1fr;
      grid-template-areas: 
         "nav" 
         "pic"
         "main";
      grid-gap: 0;  
      grid-row-gap: 0; 
   }
}

.pic-wrapper {
   grid-area: pic;
   grid-column-start: 2;
   grid-column-end: 7;

   @include mq (medium) {
      grid-column-start: 1;
      grid-column-end: 13;
      justify-self: center;
   }

   @include mq (small) {
      align-self: center;
      grid-column: 1 / -1;
   }
}

.main-info {
   grid-area: main;
   grid-column-start: 9;
   grid-column-end: 13;

   @include mq (medium) {
      grid-column-start: 1;
      grid-column-end: 6;
   }

   @include mq (small) {
      align-self: center;
      grid-column: 1 / -1;
   }
}

.info-nav {
   grid-area: nav;
   grid-column-start: 9;
   grid-column-end: 13;

   @include mq (medium) {
      grid-column-start: 7;
      grid-column-end: 13;
      align-self: center;
   }

   @include mq (small) {
      align-self: center;
      grid-column: 1 / -1;
   }
}



