@font-face {
   font-family: "League Spartan";
   src: url('../fonts/League_Spartan/LeagueSpartan-Regular.ttf') format('truetype');
   font-weight: 400;
}

@font-face {
   font-family: "League Spartan";
   src: url('../fonts/League_Spartan/LeagueSpartan-Bold.ttf') format('truetype');
   font-weight: 700;
}

@font-face {
   font-family: "Antonio";
   src: url('../fonts/Antonio/Antonio-Regular.ttf') format('truetype');
   font-weight: 400;
}