:root {
   --clr-neutral-1: hsl(0, 0%, 100%); 
   --clr-neutral-2: hsl(240, 67%, 8%); 
   --clr-neutral-3: hsl(240, 17%, 26%); 
   --clr-neutral-4: hsl(240, 6%, 54%); 

   --clr-neutral-5: 0, 0%, 85%; 

   --clr-white: 0, 0%, 100%;

   --clr-mercury: hsl(194, 48%, 49%);
   --clr-venus: hsl(33, 82%, 61%);
   --clr-earth: hsla(263, 67%, 51%);
   --clr-mars: hsl(10, 63%, 51%);
   --clr-jupiter: hsl(2, 68%, 53%);
   --clr-saturn: hsl(17, 73%, 46%);
   --clr-uranus: hsl(169, 73%, 44%);
   --clr-neptune: hsl(222, 87%, 56%);

   --clr-hover: var(--clr-neutral-1);
}






